PORT=5000
CORS_ORIGINS=http://localhost:5173,http://localhost:5174

# Railway MySQL URL
DATABASE_URL=mysql://root:BVYCEqjQVtDWLGRkcRNtXZPrwVfxQIRQ@shuttle.proxy.rlwy.net:48436/social_app

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
